{% load static %}
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>авторизация...</title>
    <link type="text/css" href="{% static 'masterapp/css/style_auth_page.css' %}" rel="stylesheet"/>
</head>
<body>
    <div id="wrapper">
    <p>случайных людей здесь нет...</p>
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="логин" />
		<input type="password" id="pass" name="pass" placeholder="пароль" />
		<button type="submit">&#xf0da;</button>
	</form>
</div>
  
  
</body>
</html>
