{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'masterapp/css/style_base.css' %}" rel="stylesheet" />
    <!-- адаптив -->
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div class="wrapper">
        <!-- Контент -->
        {% block mainmenu %}
        <header class="header">
            <div class="container">
                <div class="header_body">
                    <a href="#" class="header_logo">
                        <img src="{% static 'masterapp/images/logo.png' %}" header_logo">
                    </a>
                    <div class="header_burger">
                        <span></span>
                    </div>
                    <nav class="header_menu">
                        <ul class="header_list">
                            {% for m in menu %}
                            <li>{{m}}</li>
                            {% endfor %}
                            <a class='logout' href="{% url 'logout' %}"> Logout </a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        {% endblock mainmenu %}
        {% block content %}
        <div class="content">
            <div class="container">
                <div class="content_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae
                        recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam asperiores veniam!
                        Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam
                        quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam
                        asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim.
                        Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a
                        consequatur enim. Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae recusandae, amet dolores
                        tempore, in a consequatur enim. Earum minus nam asperiores veniam! Eius, quas tenetur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae
                        recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam asperiores veniam!
                        Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam
                        quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam
                        asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim.
                        Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a
                        consequatur enim. Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae recusandae, amet dolores
                        tempore, in a consequatur enim. Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae
                        recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam asperiores veniam!
                        Eius, quas tenetur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam quasi, eius beatae
                        recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam asperiores veniam!
                        Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam quisquam
                        quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim. Earum minus nam
                        asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a consequatur enim.
                        Earum minus nam asperiores veniam! Eius, quas tenetur!Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Quod nam quisquam quasi, eius beatae recusandae, amet dolores tempore, in a
                        consequatur enim. Earum minus nam asperiores veniam! Eius, quas tenetur!</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    <!-- Подкдючаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <!-- Подкдючаем файл JS скриптов -->
    <script src="{% static 'masterapp/js/base_script.js' %}"></script>
</body>

</html>