@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(52, 56, 61);
}
p{
    font-family: 'Poiret One', cursive;
    font-size: 45px;
	color: #A9A9A9;
	margin: 5px auto 20px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 578px;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: -220px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 16px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 6px;
	background: rgb(52, 56, 61);
	content: '';
	top: 150px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
#signin  input[type="text"], #signin  input[type="password"]{
    font-size: 40px;
	position: relative;
	display: block;
	width: 560px;
	height: 150px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 30px;
	font-weight: 600;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 184px;
	height: 184px;
	color: rgb(52, 56, 61);
	border-radius: 100px;
	outline: 0;
	z-index: 2;
	top: 60px;
	right: -375px;
	border: 20px solid rgb(52, 56, 61);
	font-size: 100px;
	text-indent: 0px;
	padding-left: 18px;
	padding-bottom: 6px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 20px rgb(0, 126, 165);
	cursor: pointer;
}
